@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* #FDFDFC */
    --background: 60, 20%, 99%;

    /* #5C5280 */
    --primary: 253, 22%, 41%;

    /* #D9C4D4 */
    --secondary: 314, 22%, 81%;

    /* #5C5280 */
    --accent: 253, 22%, 41%;

    /* #060604 */
    --text: 60, 20%, 2%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* #030302 */
    --background: 60, 20%, 1%;

    /*#897FAD*/
    --primary: 253, 22%, 59%;

    /* #3B2636*/
    --secondary: 314, 22%, 19%;

    /* #897FAD */
    --accent: 253, 22%, 59%;

    /* #FBFBF9 */
    --text: 60, 20%, 98%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
